<!DOCTYPE html>
<html>
<head>
<title>{{ publications.title }}</title>
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/publications">Publications</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>
<div class="container">
<h1>{{ publications.title }}</h1>
<div>{{ publícations.author }}</div>
<div>In {{ publications.booktitle }}, {{ publications.year }}</div>
<h2>Abstract</h2>
{{ publications.abstract }}
</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:rabl@tu-berlin.de">email</a></li>
        <li><a href="https://github.com/tilmannrabl">github.com/tilmannrabl</a></li>
</ul>
</footer>
</body>
</html>

